@media(min-width: @tablet-width) {
    .site-nav {
        display: block;

        &__button {
            position: relative;
            width: 32px;
            height: 32px;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                top: 6px;
                left: 3px;
                width: 24px;
                height: 3px;
                background-color: @bg-light;
                box-shadow: 0 8px 0 0px #fff,
                            0 16px 0 0px #fff;
            }
        }
    }
    .site-nav__list {
        display: none;
    }
}
@media(min-width: @desktop-width) {
    .site-nav {
        display: none;
    }
    .site-nav__button {
        display: none;
    }
}
